:root {
    --spanish-pink: #F4B9B2;
    --hot-pink: #ff0081;
    --hot-pink-hover: #ff00809b;
}

html {
    height: 100%;
    background-color: var(--spanish-pink);
}

html, 
body, 
main,
p {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    margin: 10px;
    gap: 10px;
}

img {
    width: 400px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}