.fill {
    --color: #face0d;
    --hover: #ff7c01;
}

/*
inset
The horizontal offset 0 
The vertical offset 0 
The blur radius (optional) 0 
The spread radius (optional) 2em
Color var(--hover);
*/

.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
}
