.border {
    --color: #face0d;
    --hover: #ff7c01;

    border-width: 1px;
    border-radius: 0;
    position: relative;
    width: 106.5px;
}

.border span:nth-child(1) {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    background-color: var(--hover);
    left: 0;
    bottom: 0;
}

.border span:nth-child(2) {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--hover);
    left: 0;
    top: 0;
}

.border span:nth-child(3) {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    background-color: var(--hover);
    right: 0;
    top: 0;
}

.border span:nth-child(4) {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    background-color: var(--hover);
    right: 0;
    bottom: 0;
}

.border:hover,
.border:focus {
    border: none;
}

.border:hover span:nth-child(1),
.border:focus span:nth-child(1) {
    animation: move1 1250ms infinite ease;
}

.border:hover span:nth-child(2),
.border:focus span:nth-child(2) {
    animation: move2 1250ms infinite ease;
}

.border:hover span:nth-child(3),
.border:focus span:nth-child(3) {
    animation: move3 1250ms infinite ease;
}

.border:hover span:nth-child(4),
.border:focus span:nth-child(4) {
    animation: move4 1250ms infinite ease;
}

@keyframes move1 {
    0% {
        height: 100%;
        bottom: 0;
    }

    54% {
        height: 0;
        bottom: 100%;
    }

    55% {
        height: 0;
        bottom: 0;
    }

    100% {
        height: 100%;
        bottom: 0;
    }
}

@keyframes move2 {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes move3 {
    0% {
        height: 100%;
        top: 0;
    }

    54% {
        height: 0;
        top: 100%;
    }

    55% {
        height: 0;
        top: 0;
    }

    100% {
        height: 100%;
        top: 0;
    }
}

@keyframes move4 {
    0% {
        width: 0;
        right: 0;
    }

    50% {
        width: 100%;
        right: 0;
    }

    100% {
        width: 0;
        right: 100%;
    }
}
