@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

input,
audio {
    display: none;
}

* {
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.upload-button {
    cursor: pointer;
}

@keyframes blink {
    25% {
        opacity: 0.85;
    }

    50% {
        opacity: 0.65;
    }

    75% {
        opacity: 0.85;
    }
}

@keyframes small-blink {
    25% {
        opacity: 0.65;
    }

    50% {
        opacity: 0.35;
    }

    75% {
        opacity: 0.65;
    }
}
