main {
    padding: 20px;
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 230px;
}

.double-width {
    /* spanne über 2 columns ende automatisch */
    grid-column: span 2 / auto;
}

.double-height {
    grid-row: span 2 / auto;
}
.square {
    grid-column: span 2 / auto;
    grid-row: span 2 / auto;
}
