@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html,
body {
    background: #17181c;
    color: #fff;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 50%;
}

h1 {
    --font-size: 32px;

    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.3);
    margin-bottom: 20px;
    letter-spacing: -1px;
}

p {
    --font-size: 14px;

    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.3);
    text-wrap: balance;
}
